@theme-color-brand:                       #007896;
@theme-color-header-background:           #007896;
@theme-color-header-text:                 #fff;
@theme-color-widget-title-background:     #007896;